@media (max-width: 700px) {
	main {
		.noticiasHeader {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 5vw 0;

			.title {
				font-size: 4vw;
			}

			.barra-pesquisa {
				max-width: 90vw;
				height: 10vw;

				.search-input {
					width: 70vw;
					padding: 0 4vw;
					font-size: 4vw;
				}

				.search-button {
					width: 8vw;
				}
			}
		}

		/*------------CARDS*/
		.cards-container {
			display: grid;
			grid-template-columns: 1fr;
			place-items: center;
			gap: 5vw;

			.card {
				width: 90%;
				height: auto;
				display: flex;
				flex-direction: row;
				padding: 2vw;

				.card-image {
					overflow: hidden;
					position: relative;

					img {
						width: 80%;
						height: 80%;
						object-fit: cover;
						object-position: center;
					}
				}

				.card-content {
					padding: 2vw;

					.card-head {
						display: flex;
						justify-content: space-between;

						.categoria {
							font-size: 2.5vw;
							border-radius: 5vw;
							width: fit-content;
						}

						.date {
							font-size: 4vw;
						}
					}

					h2 {
						font-size: 4vw;
					}

					p {
						font-size: 3vw;
						text-align: justify;
					}
				}

				.leia-mais {
					display: none;
				}
			}
		}
	}
}
