@media (max-width: 900px) {
	main {
		.noticiasHeader {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;

			.title {
				font-size: 4vw;
			}

			.barra-pesquisa {
				max-width: 200vw;
				height: 8vw;

				.search-input {
					padding: 0 5vw;
					font-size: 3vw;
				}

				.search-button {
					width: 8vw;

					img {
						width: 3vw;
						height: 3vw;
					}
				}
			}
		}

		.cards-container {
			grid-template-columns: 1fr 1fr;

			.card {
				width: 90%;

				.card-content {
					padding: 2vw;

					.card-head {
						.date {
							font-size: 2vw;
						}
					}

					h2 {
						font-size: 3.4vw;
					}
					p {
						font-size: 2vw;
						text-align: justify;
					}
				}

				.leia-mais {
					display: none;
				}
			}
		}

		.pagination {
			margin-top: 7vw;
			gap: 3vw;

			.page-btn,
			.next-btn {
				padding: 2vw 2.2vw;
				font-size: 4vw;
			}
		}
	}
}
