<a id="container-logo" href="/pages/index.html">
	<img src="/assets/images/logo-cegesp-desktop.png" alt="Logo CEGESP" />
	<span>CEGESP</span>
</a>

<div id="menu-toggle" onclick="menu_toggle_click()" title="Menu mobile">
	<span></span>
	<span></span>
	<span></span>
</div>

<nav id="nav-group">
	<ul id="nav-header">
		<li id="about" class="hover-btn">
			<a>
				<span>SOBRE</span>
				<img src="/assets/icons/icon-chevron-down.png" alt="v" />
			</a>
			<ul id="about-menu">
				<li><a href="/pages/objetivo/objetivo.html">OBJETIVO</a></li>
				<li><a href="/pages/equipe/equipe.html">EQUIPE</a></li>
			</ul>
		</li>
		<li id="news" class="hover-btn">
			<a
				><span>NOTÍCIAS</span>
				<img src="/assets/icons/icon-chevron-down.png" alt="v" />
			</a>
			<ul id="news-menu">
				<li><a href="/pages/noticias/noticias.html">AÇÕES & EVENTOS</a></li>
			</ul>
		</li>
		<li class="hover-btn"><a href="/pages/infodados/infodados.html">INFO DADOS</a></li>
		<li id="publi" class="hover-btn">
			<a href="/pages/publicacoes/publicacoes.html">PUBLICAÇÕES CIENTÍFICAS</a>
		</li>
		<li class="hover-btn"><a href="/pages/contato/contato.html">CONTATO</a></li>
		<li id="login"><a id="login-a" href="/pages/login/login.html">LOGIN</a></li>
	</ul>
</nav>
