<a class="container-logo" href="#">
    <div id="logo">
        <img src="/assets/images/logo-cegesp-desktop.png" alt="Logo CEGESP" />
        <span>CEGESP</span>
    </div>
</a>

<input type="checkbox" name="menu-toggle" id="menu-toggle" title="." />
<label for="menu-toggle" class="menu-icon" title="Menu mobile">
    <span></span>
    <span></span>
    <span></span>
</label>

<div class="nav-group">
    <nav>
        <ul class="nav-header">
            <li id="about">
                <a
                    ><span>SOBRE</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                <ul id="about-menu">
                    <li><a href="/pages/objetivos/objetivo.html">OBJETIVO</a></li>
                    <li><a href="/pages/equipe/equipe.html">EQUIPE</a></li>
                </ul>
            </li>
            <li id="news">
                <a
                    ><span>NOTÍCIAS</span>
                    <i class="fa-solid fa-chevron-down"></i>
                </a>
                <ul id="news-menu">
                    <li><a href="/pages/noticias/noticias.html">AÇÕES & EVENTOS</a></li>
                </ul>
            </li>
            <li><a href="/pages/infodados/infodados.html">INFO DADOS</a></li>
            <li><a href="/pages/publicacoes/publicacoes.html">PUBLICAÇÕES CIENTÍFICAS</a></li>
            <li><a href="/pages/contato/contato.html">CONTATO</a></li>
        </ul>
    </nav>

    <a class="login" href="/pages/login/login.html">LOGIN</a>
</div>