@media (max-width: 600px) {
	/* REGRAS ESTRUTURAIS ***************************************************/
	header {
		background-color: #fbfbfb;
		padding: 1vw;
		box-shadow: 0px 1vw 1vw rgba(0, 0, 0, 0.3);
		gap: 20px;
		position: fixed;
		padding-bottom: 5vw;

		#container-logo {
			gap: 1.5vw;

			img {
				width: 10vw;
			}

			span {
				font-size: 6vw;
			}
		}

		#menu-checkbox:checked ~ .nav-group {
			display: flex;
		}

		.menu-toggle {
			position: absolute;
			top: 3vw;
			left: 3vw;
			display: block;
			width: max-content;
			height: max-content;
			cursor: pointer;
			z-index: 2;

			span {
				display: block;
				height: 1.2vw;
				width: 8vw;
				background: #333;
				margin-bottom: 1.5vw;
				border-radius: 1.5vw;
			}
		}

		.nav-group {
			display: none;

			.nav-header {
				display: flex;
				flex-direction: column;
				align-items: center;
				height: max-content;
				grid-template-columns: 1fr !important;
				margin-top: 0;
				margin-bottom: 0px;
				row-gap: 4vw;

				li {
					font-size: 4vw;
					padding: 3vw 2vw;
					height: max-content;

					&:not(:last-of-type) {
						width: 100%;
						justify-content: center;
					}

					img {
						width: 3.5vw;
					}
				}

				#about,
				#news {
          gap: 3vw;
          flex-direction: column;
          
					#about-menu,
					#news-menu {
            gap: 2vw;
            align-items: center;
            width: 100%;
						position: static;
					}
				}

				#login {
					padding: 0;

					#login-a {
						border-radius: 1vw;
						padding: 3vw 5vw;
					}
				}
			}
		}
	}
}
