

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    max-width: 1140px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #E8E8E8, #D6D6D6);
    color: #002855; 
}

.cabecalho {
    display: flex; 
    justify-content: center; 
    padding: 0px 20px;
}

.cabecalho__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center;
    width: 100%; 
    text-align: center;

}

.cabecalho__menu__container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: linear-gradient(90deg, #002855, #004080); 
    padding: 10px 15px;
    color: #FFFFFF; 
}

.cabecalho__menu__container img {
    background-color: #FFFFFF; 
    border-radius: 50%; /* deixa o fundo arredondado */
    width: 100px; 
    height: auto; 
}


.menu-principal {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-item {
    position: relative; /* Necessário para posicionar o submenu */
    cursor: pointer;
    padding: 10px 15px; 
    font-size: 20px; 
    color: #FFFFFF;
}

.menu-item:hover {
    color: #E63946; 
}

.menu-item:hover .submenu {
    display: block; 
}

.submenu {
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%; /* Posiciona o submenu logo abaixo do item principal */
    left: 0; 
    list-style: none;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 0;
    border: 1px solid #B0B0B0;
}

.submenu li {
    padding: 5px 10px;
}

.submenu li a {
    text-decoration: none;
    color: #002855; 
    font-size: 20px;
}

.submenu li a:hover {
    color: #E63946; 
}

.intro-section {
    width: 100%;
    font-size: 3rem;
    text-decoration-color: white;
    text-align: center;
    background-image: url('assets/japan-urban-landscape-with-traffic.jpg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área da div */
    background-position: center; 
    background-repeat: no-repeat; 
    color: #FFFFFF; 
    padding: 200px 15px;
    background-color: rgba(0, 40, 85, 0.8);
}

main {
    max-width: 100%; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FFFFFF; 
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    border-radius: 7px; 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}



