@media (max-width: 900px) {
	/*TRABALAHR COM RESPONSIVIDADE. MANTER SOMENTE OS COMANDOS NECESSARIOS QUE CONTEM TAMANHO*/
	/* -------- FORM PRINCIPAL CONTAINER -------- */
	main form {
		max-width: 91.15vw;
		width: 100%;
		border-radius: 1.04vw;
		box-shadow: 0 0.52vw 1.3vw rgba(0, 0, 0, 0.1);
		padding: 3.91vw 5.21vw;
	}

	main h2 {
		font-size: 4.13vw;
		font-weight: 500;
		margin-bottom: 4.91vw;
	}

	/*===== FORMULARIO ===== */
	.form-group {
		margin-bottom: 3.26vw;

		/*--------LABELS*/
		h3,
		label,
		#docLabel,
		#ufGroup label,
		#municipioGroup label,
		#territorioGroup label {
			display: block;
			font-family: var(--font-roboto-condensed);
			margin-bottom: 1.04vw;
			font-size: calc(var(--h3-text-size) * 0.2vw);
			font-weight: 500;
		}

		#keywordInput {
			width: 100%;
			padding: 1.56vw 2.08vw;
			border-radius: 0.78vw;
			font-size: 2.7vw;
		}
	}

	/*-------- COMBOBOX PADRAO*/
	select {
		width: 100%;
		padding: 1.56vw 2.08vw;
		border-radius: 0.78vw;
		font-size: 2.7vw;
	}

	/* -------- BOTOES AGENDAS (PODERES) ---------*/
	#poderOptions {
		flex-direction: column;
		gap: 1.56vw;
		margin-top: 1.04vw;
	}

	#poderOptions label {
		padding: 1.56vw 2.08vw;
		border-radius: 0.78vw;
		font-size: 2.82vw;
	}

	/* ----------- AGRUPAMENTOS --------*/
	#agrupamentoGroup {
		margin-bottom: 3.26vw;
	}

	#agrupamentoGroup label {
		padding: 1.56vw 2.08vw;
		border-radius: 0.78vw;
		font-size: 2.82vw;
	}

	/*-----------------PERIODOS--------------*/
	.date-range {
		display: flex;
		flex-direction: column;
		gap: 1.95vw;
		margin-top: 1.04vw;

		div {
			flex: 1;
		}

		input[type="number"] {
			width: 100%;
			padding: 1.56vw 2.08vw;
			border-radius: 0.78vw;
			font-size: 2.95vw;
		}

		h3 {
			margin-top: 2.22vw;
			margin-bottom: 0;
		}

		label[for="start-date"],
		label[for="end-date"] {
			font-size: 2.8vw;
		}
	}

	/* ----------- BOTÃO --------*/
	.btn {
		width: 100%;
		padding: 1.82vw;
		font-weight: 500;
		font-size: 3.08vw;
		border-radius: 0.78vw;
		margin-top: 2.6vw;
	}

	/*

	#tabela-container {
	width: 900px;
	max-height: 600px;
	overflow: auto;
	margin: 20px auto;
	border: 1px solid #ababab;
	font-family: "Poppins", sans-serif;
}

#tabela-container .tabela-dados {
	width: 100%;
	border-collapse: collapse;
}

#tabela-container .tabela-dados th {
	position: sticky;
	top: 0;
	border: 2px solid #888888;
	padding: 8px;
	background-color: #d3d3d3;
	text-align: left;
}

#tabela-container .tabela-dados td {
	border: 1px solid #888888;
	padding: 8px;
}

#tabela-container .tabela-dados tr:hover {
	background-color: #bddeff;
}*/

	#filtrosSelecionados {
		.filtros-box {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 0.5vw;
			vertical-align: auto;
			margin-top: 3vw;
			font-size: 3.2vw;

			h3 {
				margin-bottom: 0px;
				width: 100%;
			}

			p {
				margin-bottom: 0.444vw;
				padding: 0.5vw 1.11vw;
				border-radius: 2.2vw;
				flex: 0 0 auto;
				min-width: 10vw;
				text-align: center;
			}
		}
	}

	/*NÃO REMOVER PROPRIEDADES NÃO NUMÉRICAS.
	MODELO DE TABELA DIFERENTE NA RESPONSIVIDADE */
	#tabela-container {
		width: 100%;
		max-height: none;
		overflow: visible;

		.tabela-dados {
			border: 0;

			thead {
				border: none;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			tr {
				display: block;
				margin-bottom: 3.7vw;
				background: #e6e6e6;
				padding: 0.5vw;
				border-radius: 0.6vw;

				&:hover {
					background: #e6e6e6;
				}
			}

			td {
				border: 1px solid #7d7d7d;
				display: block;
				font-size: 2.2vw; /**/
				text-align: right;

				&::before {
					content: attr(data-label);
					float: left;
					font-weight: bold;
					text-transform: uppercase;
					font-size: 2vw; /**/
				}

				&:last-child {
					border-bottom: 0;
				}
			}
		}
	}
}
