@media screen and (max-width: 600px) {
	.container-cards {
		width: 80%;
		flex-direction: column;
	}

	.container-cards {
		align-items: center;

		.card {
			margin-top: auto;
			margin-bottom: 0;
			padding: auto;
			flex: 1 0 auto;
			padding: 5vw;
			border-radius: 3vw;
			gap: 5vw;
			box-shadow: 0 0 1vw 1vw rgba(67, 67, 67, 0.1);

			.box-svg {
				width: 20vw;
				height: 20vw;
				padding: 2vw;
			}
		}
	}
}
