<section id="section-contacts">
    <div class="contacts-item">
        <i class="fa-solid fa-phone"></i>
        <a href="">+55 (99) 12345-6789</a>
    </div>
    <div class="contacts-item">
        <i class="fa-solid fa-location-dot"></i>
        <a href=""> Departamento de Educação Física Jequiezinho, Jequié - BA </a>
    </div>
    <div class="contacts-item">
        <i class="fa-solid fa-envelope"></i>
        <a href="">exemplo@exemplo.com</a>
    </div>
</section>

<hr />

<section id="section-copyright">
    <p>Copyright 2025 ©</p>
    <p>Todos os direitos reservados - Centro de Estudos em Gestão Pública</p>

    <div id="section-images">
        <img src="/assets/images/logo-cegesp-name.png" alt="Logo CEGESP" />
        <img src="/assets/images/logo-uesb-name.png" alt="Logo UESB" />
    </div>
</section>