@media (max-width: 600px) {
	/* REGRAS ESTRUTURAIS ***************************************************/
	footer {
		margin-top: 15vw;

		p {
			font-size: 2.5vw;
			line-height: normal;
			text-align: center;
		}

		#section-contacts {
			padding: 6vw 4vw;
			gap: 10vw;

			flex-direction: column;
			align-items: center;
			justify-content: space-between;

			.contacts-item {
				max-width: 95vw;
				gap: 3vw;

				p {
					font-size: 2.8vw;
				}

				img {
					width: 12vw;
					height: 12vw;
				}
			}
		}

		hr {
			height: 0.2vw;
		}

		#section-copyright {
			padding: 6vw 5vw;
			gap: 5vw;

			p {
				font-size: 2.4vw;
			}

			#section-images {
				max-height: 100vw;
				gap: 4vw;

				img {
					max-width: 20vw;
				}
			}
		}
	}
}
