@media (max-width: 600px) {
	.section-forms {
		gap: calc(5 * 1vw);

		form {
			padding: calc(5 * 1vw) calc(6 * 1vw);
			grid-template-columns: 1fr;
			gap: calc(5 * 1vw);

			:nth-child(1) {
				grid-column: span 1;
			}

			.input {
				font-size: calc(16 * 0.25vw);
				padding-bottom: calc(1 * 1vw);
			}
		}
	}

	.section-result {
		gap: calc(5 * 1vw);

		.article-result {
			grid-template-columns: 1fr;
			gap: calc(4 * 1vw);

			.result-item {
				min-width: 100%;
				padding: calc(6 * 1vw);
				gap: calc(5 * 1vw);

				.item-title {
					gap: calc(1 * 1vw);

					h3 {
						font-size: calc(20 * 0.25vw);
					}

					span {
						width: calc(30 * 1vw);
						padding: calc(1 * 1vw) calc(2 * 1vw);
						font-size: calc(12 * 0.25vw);
						border-radius: calc(2 * 1vw);
					}
				}

				.item-main {
					gap: calc(4 * 1vw);

					.item-information {
						font-size: calc(14 * 0.25vw);

						:nth-child(1) {
							font-size: calc(16 * 0.25vw);
						}
					}
				}

				.item-button {
					padding: calc(2 * 1vw) calc(4 * 1vw);
					font-size: calc(16 * 0.2vw);
					border-radius: calc(3 * 1vw);
				}
			}
		}
	}
}
