@media (max-width: 600px) {
	.section-forms {
		gap: 2vw;

		form {
			padding: 5vw 6vw;
			border-radius: 2vw;
			grid-template-columns: 1fr;
			gap: 4vw;

			.input {
				font-size: 3.5vw;
				padding-bottom: 1vw;
				border-bottom-width: 0.5vw;
			}

			button {
				width: 100%;
				padding: 1vw 2vw;
				font-size: 3vw;
				border-radius: 1vw;
			}
		}
	}

	.section-result {
		gap: 2vw;

		.article-result {
			grid-template-columns: 1fr;
			gap: 10vw;

			.result-item {
				min-width: 100%;
				padding: 6vw;
				border-radius: 2vw;
				gap: 5vw;

				.item-title {
					gap: 1vw;

					h3 {
						font-size: 4vw;
					}

					span {
						padding: 1vw 2vw;
						font-size: 2.5vw;
						border-radius: 2vw;
					}
				}

				.item-main {
					gap: 2vw;

					.item-information {
						font-size: 2.5vw;

						:nth-child(1) {
							font-size: 2.8vw;
						}
					}
				}

				.item-button {
					padding: 1vw 2vw;
					font-size: 2.8vw;
					border-radius: 1vw;
				}
			}
		}
	}
}
